In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/adult.data.csv')

In [12]:
print(df.shape)
print(df.head(5))

(32561, 15)
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [6]:
# How many people of each race are represented in this dataset?
df_racecount = df['race'].value_counts()
print(df_racecount)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [8]:
# What is the average age of men?
average_men_age = df.loc[df['sex'] == 'Male', 'age'].mean()
print("%.2f" % average_men_age)

39.43

In [15]:
# What is the percentage of people who have a Bachelor's degree?
bachelor_count = df['education'].value_counts()['Bachelors']
#print(bachelor_count)
total_rows = len(df.index)
#print(total_rows)
bachelor_percentage = f"{bachelor_count / total_rows :.2%}"
print(bachelor_percentage)

16.45%

In [45]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_morethan_fifty = len(df[(df['education'] == 'Bachelors') | 
                          (df['education'] == 'Masters') | 
                          (df['education'] == 'Doctorate') & 
                          (df['salary'] == '>50K')])
print(advanced_morethan_fifty)
advanced_count = len(df[(df['education'] == 'Bachelors') | 
                          (df['education'] == 'Masters') | 
                          (df['education'] == 'Doctorate')])
#print(advanced_count)
#print(f"{advanced_morethan_fifty / advanced_count :.2%}")

7384

In [31]:
# What percentage of people without advanced education make more than 50K?
without_advanced = total_rows - advanced_count
#print(without_advanced)
without_advanced_morethan_fifty = len(df[(df['education'] != 'Bachelors') & 
                                  (df['education'] != 'Masters') &
                                  (df['education'] != 'Doctorate') & 
                                  (df['salary'] == '>50K')])
#print(without_advanced_morethan_fifty)
print(f"{without_advanced_morethan_fifty / without_advanced :.2%}")

17.37%

In [35]:
# What is the minimum number of hours a person works per week?
min_hours = df['hours-per-week'].min()
print(min_hours)

1

In [50]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
works_min_hours = len(df[df['hours-per-week'] == min_hours])
#print(works_min_hours)
min_hours_morethan_fifty = len(df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')])
print(f"{min_hours_morethan_fifty / works_min_hours :.2%}")

10.00%